/**
 * Red (themes/_red.scss)
 */

/* ----- Hero subheader ----- */
.red {
	.hero-subheader {
		background-color: #FFB351;
		color: #4d4d4d;
	.site-header__logo {
		color: #4d4d4d;
		}
	}
}

.red {
.btn--dark, .hero-subheader .btn--github, .hero-subheader .btn--w-arrow-down {
			background-color: #8d8d8d;
		}
}

.red .section--darker-theme-color-bg { background-color: darken(.red, 3%); }

/* ----- Nav grid ----- */
.red {
	.nav-grid__item {
		background-color: #FFB351;

		&:hover,
		&:active,
		&:focus {
			background-color: #FFB351;
		}
	}
}

/* ----- Section ----- */
.red {
	.section--darker-theme-color-bg {
		background-color: darken(.red, 3%);
	}
}

/* ----- Page nav ----- */
.red {
	.page-nav {
		background-color: #FFB351;
		color: #4d4d4d;
	}
}

.red {
	.micro-nav {
		background-color: #4d4d4d;
	}
}

/* ----- Error 404 ----- */
.red {
	&.error-404 {
		background-color: #FFB351;
	}
}
