/**
 * Red (themes/_red.scss)
 */

/* ----- Hero subheader ----- */
.red {
	.hero-subheader {
		background-color: #FFB351;
	}
}

/* ----- Nav grid ----- */
.red {
	.nav-grid__item {
		background-color: #FFB351;

		&:hover,
		&:active,
		&:focus {
			background-color: #FFB351;
		}
	}
}

/* ----- Section ----- */
.red {
	.section--darker-theme-color-bg {
		background-color: darken(#FFB351;, 3%);
	}
}

/* ----- Page nav ----- */
.red {
	.page-nav {
		background-color: #FFB351;
		color: #4d4d4d;
	}
}

/* ----- Error 404 ----- */
.red {
	&.error-404 {
		background-color: #FFB351;
	}
}
