/**
 * Yellow (themes/_yellow.scss)
 */

/* ----- Hero subheader ----- */
.yellow {
	.hero-subheader {
		background-color: #f5f5f5;
		color: #4d4d4d;
	.site-header__logo {
		color: #4d4d4d;
		}
	}
}

.yellow { .site-header__logo { color: #4d4d4d; } }

.yellow {
.btn--dark, .hero-subheader .btn--github, .hero-subheader .btn--w-arrow-down {
			background-color: #8d8d8d;
		}
}

/* ----- Nav grid ----- */
.yellow {
	.nav-grid__item {
		background-color: #ffffff;
		color: #4d4d4d;

		&:hover,
		&:active,
		&:focus {
			background-color: #dedede;
		}
	}
}

/* ----- Section ----- */
.yellow {
	.section--darker-theme-color-bg {
		background-color: #ffb351;
	}
}

/* ----- Page nav ----- */
.yellow {
	.page-nav {
		background-color: #FFB351;
		color: #4d4d4d;
	}
}

.yellow {
	.micro-nav {
		background-color: #4d4d4d;
	}
}

/* ----- Error 404 ----- */
.yellow {
	&.error-404 {
		background-color: #f5f5f5;
	}
}
